$blue: #276090;
$grey: #f3f3f3;
$green: #28a65b;

$primary: $blue;
$secondary: darken($grey, 3%);

$border-color: darken($grey, 10%);
$input-border-color: $border-color;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1210px,
  xl: 1510px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1200px,
  xl: 1500px
);