// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~ui-select/dist/select";
@import "~angularjs-color-picker/dist/angularjs-color-picker";
@import "~angularjs-color-picker/dist/themes/angularjs-color-picker-bootstrap";
@import "~angular-datepicker/dist/index";

@import "main";
@import "categories";
@import "products";
@import "production";
@import "orders";
@import "workers";
@import "employments";
@import "facilities";
@import "clients";
