.categories-block {
	position: relative;
	
	.category-form-block {
		margin-top: 20px;
	}

	.main-table {
		th {
			position: sticky;
		    top: 0px;
		    background: #FFFFFF;
		    z-index: 2;
		    padding: 0px;

		    & > div {
	    	    border-bottom: solid 1px darken($grey, 10%);
			    height: 100%;
			    width: 100%;
			    padding: 20px 12px 12px 12px;
		    }
		}

		td {
			border-top: none;
			border-bottom: solid 1px darken($grey, 10%);

			&:last-child {
				@include media-breakpoint-up(lg) {
					padding: 8px 0px;
				}
			}
		}
	}
}