.employments-page {
	position: relative;

	.employments-block {
		display: flex;
		border-radius: 5px;
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);
		overflow: hidden;
		min-height: 200px;
		margin-bottom: 15px;
		min-height: 100%;

		.workers {
			flex: none;
	    	width: 150px;
	    	z-index: 1;
	    	box-shadow: 1px 0px 5px darken($grey, 10%);
	    	border-right: solid 1px darken($grey, 10%);
	    	background: $grey;

			.table {
				flex: none;
		    	width: 150px;
		    	z-index: 1;
		    	border-right: solid 1px darken($grey, 10%);
		    	background: $grey;

		    	th {
		    		height: 41px;
		    	}

				td {
					border-bottom: solid 1px darken($grey, 10%);
					padding: 10px;
					white-space: nowrap;
					text-overflow: ellipsis;
					background: $grey;
					font-size: 14px;
					text-align: left;
				}
			}
		}

		.employments {
			overflow-x: scroll;
			border-right: solid 1px darken($grey, 10%);

			.table {
				margin: 0px -1px;
				font-size: 14px;
				border-bottom: solid 1px darken($grey, 10%);

				th, td {
					padding: 10px;
					border-left: solid 1px darken($grey, 10%);
					vertical-align: middle;
					text-align: center;
				}

				th {
					border-left: solid 1px darken($grey, 10%);
					background: $grey;

					&.current {
						background: lighten($green, 40%);
					}
				}

				td {
					border-top: solid 1px darken($grey, 10%);
					cursor: pointer;
					height: 42px;
					min-width: 42px;
					padding: 0px;
					background: #FFFFFF;

					.employment {
						width: 100%;
    					height: 100%;
					    padding: 9px 0px;
					    border: solid 1px #FFFFFF;
					    font-size: 14px;
					    font-weight: 500;
					    position: relative;

						.employment-facility {
							position: absolute;
							bottom: 0px;
							right: 0px;
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 0 0 12px 12px;
							border-color: transparent;
						}

						.employment-salary {
							color: #000000;
							font-size: 12px;
							font-weight: normal;
						}
					}
				}
			}
		}
	}

	.employment-statuses {
		border: solid 1px darken($grey, 10%);
		padding: 15px;
		border-radius: 5px;
		box-shadow: 1px 1px 5px darken($grey, 5%);
		font-size: 14px;

		.statuses-title {
		    font-weight: 500;
		    line-height: 31px;
		    font-size: 16px;
		    margin-bottom: 10px;
		    position: relative;

		    .btn {
		    	position: absolute;
		    	top: 0;
		    	right: 0;
		    	margin: 0;
		    }
		}

		.statuses-label {
			font-weight: 500;
			margin-bottom: 5px;
			margin-top: 15px;
		}

		.name-statuses {
			border-top: solid 1px darken($grey, 10%);
			display: flex;

			& > div {
				flex-grow: 1;
				text-align: center;
				padding: 5px;
				border-right: solid 1px darken($grey, 10%);
				cursor: pointer;
				font-weight: 500;

				&:last-child {
					border-right: none;
				}

				&.active {
					background: lighten($grey, 1%);
				}
			}
		}

		.table {
			margin-bottom: 0px;

			tr {
				cursor: pointer;

				&.active {
					background: lighten($grey, 1%);
				}

				&:last-child td {
					border-bottom: solid 1px darken($grey, 10%);
				}
			}

			td {
				text-align: left;
				font-size: 14px;
				padding: 5px;

				&:first-child {
					font-size: 18px;
					width: 40px;
					text-align: center;
					color: darken($grey, 10%);
				}

				div {
					width: 21px;
					height: 21px;
					margin: 3px;
					background: darken($grey, 10%);
				}
			}
		}

		.btn {
			border: solid 1px darken($grey, 10%);
			margin-top: 15px;

			&.active {
				background: lighten($grey, 1%);
			}
		}
	}

	.no-employments {
		text-align: center;
		font-size: 18px;
		border: solid 1px darken($grey, 10%);
		box-shadow: 1px 1px 5px darken($grey, 5%);
	    border-radius: 5px;
	   	height: 100%;
	   	min-height: 200px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

		div {
			margin-bottom: 5px;
			font-size: 60px;
			color: darken($grey, 60%);
		}
	}

	.salaries-block {
		margin-top: 20px;
		padding-top: 20px;
		border-top: solid 1px darken($grey, 10%);

		.block-title {
			font-size: 21px;
			margin-bottom: 20px;

			span {
				font-weight: 500;
			}
		}

		.table-block {
			border: solid 1px #dadada;
		    padding: 10px 20px 0px 20px;
		    border-radius: 5px;
		    box-shadow: 1px 1px 5px #e6e6e6;

		    .table {
		    	margin-bottom: 5px;

		    	td {
		    		padding-top: 10px;
		    		padding-bottom: 10px;
		    	}
		    }
		}
	}

 	.salary-modal {
 		.modal-title {
 			font-weight: 500;
 			font-size: 18px;
 		}
 		.param-label {
 			font-weight: 500;
 			margin-bottom: 5px;
 		}

 		.form-control {
 			display: inline-block;
 			width: 200px;
 			margin-right: 5px;
 		}
 	}
}

.statuses-page {
	.ui-select-container {
		.btn,
		.ui-select-match-text {
			color: inherit;
		}
	}
}