.employments-page {
	position: relative;

	.employment-block {
		display: flex;
		border-radius: 5px;
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);
		overflow: hidden;
		min-height: 200px;
		margin-bottom: 15px;

		.workers-block {
			flex: none;
	    	width: 130px;
	    	z-index: 1;
	    	border-right: solid 1px darken($grey, 10%);
	    	background: $grey;
	    	max-height: calc(100vh - 241px);
	    	overflow: hidden;
	    	padding-bottom: 17px;

			.table {
				flex: none;
		    	width: 130px;
		    	z-index: 1;
		    	border-right: solid 1px darken($grey, 10%);
		    	background: $grey;
		    	margin-bottom: 0px;

		    	th {
		    		height: 41px;
				    font-size: 12px;
				    text-align: center;
				    padding: 5px 8px;
				    vertical-align: middle;
				    border-bottom: solid 1px #dadada;
		    	}

				td {
					height: 42px;
					border-top: none;
					border-left: none;
					border-bottom: solid 1px darken($grey, 10%);
					padding: 10px;
					white-space: nowrap;
					text-overflow: ellipsis;
					background: $grey;
					font-size: 14px;
					text-align: left;

					.worker-name {
						text-overflow: ellipsis;
   						overflow: hidden;
					}
				}
			}

			.workers-block-content {
		    	overflow: hidden;
				max-height: calc(100vh - 300px);
				border-bottom: solid 1px darken($grey, 10%);

				.table:last-child {
		    		margin-top: 27px;

		    		td {
						border-top: solid 1px darken($grey, 10%);
					}
		    	}
			}
		}

		.employments-block {
			overflow-x: scroll;
			border-right: solid 1px darken($grey, 10%);
	    	max-height: calc(100vh - 241px);
    		overflow: hidden;

			.table {
				margin: 0px -1px;
				font-size: 14px;
				border-bottom: solid 1px darken($grey, 10%);

				th, td {
					padding: 10px;
					border-left: solid 1px darken($grey, 10%);
					border-bottom: solid 1px darken($grey, 10%);
					border-top: none;
					vertical-align: middle;
					text-align: center;
					cursor: pointer;
				}

				th {
					border-left: solid 1px darken($grey, 10%);
					background: $grey;
					min-width: 42px;

					&.current {
						background: lighten($primary, 55%);
					}
				}

				td {
					cursor: pointer;
					height: 42px;
					min-width: 42px;
					padding: 0px;
					background: #FFFFFF;

					&.current {
						background: lighten($primary, 61%);
					}

					.employment {
						width: 100%;
    					height: 100%;
					    padding: 9px 0px;
					    border: solid 1px transparent;
					    font-size: 14px;
					    line-height: 21px;
					    font-weight: 500;
					    position: relative;

						.employment-category {
							position: absolute;
							bottom: 0px;
							right: 0px;
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 0 0 12px 12px;
							border-color: transparent;
						}

						.employment-salary {
							color: #000000;
							font-size: 12px;
							font-weight: normal;
						}

						.form-control {
							display: inline;
						    padding: 0px;
						    height: auto;
						    width: 30px;
						    text-align: center;
						    border: none;
						    color: $primary;
						    font-size: 14px;
						    font-weight: 500;
						    background: none;
						}

						.edit-field {
							cursor: text;
							transition: 0.1s;
						}
					}
				}
			}

			.employments-block-top-table {
				height: 42px;
			    overflow: hidden;
			    padding-right: 17px;
			    background: #f3f3f3;
			    border-bottom: solid 1px #dadada;

			    & > div {
			    	overflow-x: hidden;
    				border-right: solid 1px #dadada;
			    }

			    th {
			    	position: relative;

			    	.employments-total {
			    		position: absolute;
			    		top: 0px;
			    		left: 0px;
			    	}
			    }
			}

			.employments-block-content {
				max-height: calc(100vh - 283px);
			    overflow: scroll;
			    width: 100%;

		    	table:last-child {
		    		margin-top: 27px;

		    		td {
						border-top: solid 1px darken($grey, 10%);
					}
		    	}
			}
		}
	}

	.employment-statuses {
		border: solid 1px darken($grey, 10%);
		padding: 15px;
		border-radius: 5px;
		box-shadow: 1px 1px 5px darken($grey, 5%);
		font-size: 14px;

		.statuses-title {
		    font-weight: 500;
		    line-height: 31px;
		    font-size: 16px;
		    margin-bottom: 10px;
		    position: relative;

		    .btn {
		    	position: absolute;
		    	top: 0;
		    	right: 0;
		    	margin: 0;
		    }
		}

		.statuses-label {
			font-weight: 500;
			margin-bottom: 5px;
			margin-top: 15px;
		}

		.name-statuses {
			border-top: solid 1px darken($grey, 10%);
			display: flex;

			& > div {
				flex-grow: 1;
				text-align: center;
				padding: 5px;
				border-right: solid 1px darken($grey, 10%);
				cursor: pointer;
				font-weight: 500;

				&:last-child {
					border-right: none;
				}

				&.active {
					background: lighten($grey, 1%);
				}
			}
		}

		.table {
			margin-bottom: 0px;

			tr {
				cursor: pointer;

				&:last-child td {
					border-bottom: solid 1px darken($grey, 10%);
				}

				&.active {
					background: lighten($grey, 1%);

					td {
						border-bottom: solid 1px  $primary;
					}
				}
			}

			td {
				text-align: left;
				font-size: 14px;
				padding: 5px;

				&:first-child {
					font-size: 18px;
					width: 40px;
					text-align: center;
					color: darken($grey, 10%);
				}

				div {
					width: 21px;
					height: 21px;
					margin: 3px;
					background: darken($grey, 10%);
				}
			}
		}

		.btn {
			border: solid 1px darken($grey, 10%);
			margin-top: 15px;

			&.active {
				background: lighten($grey, 1%);
				border-bottom-color: $primary;
			}
		}
	}

	.no-employments {
		text-align: center;
		font-size: 18px;
		border: solid 1px darken($grey, 10%);
		box-shadow: 1px 1px 5px darken($grey, 5%);
	    border-radius: 5px;
	   	height: 100%;
	   	min-height: 200px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

		div {
			margin-bottom: 5px;
			font-size: 60px;
			color: darken($grey, 60%);
		}
	}

	.salaries-block {
		margin-top: 20px;
		padding-top: 20px;
		border-top: solid 1px darken($grey, 10%);

		.block-title {
			font-size: 21px;
			margin-bottom: 20px;

			span {
				font-weight: 500;
			}
		}

		.table-block {
			border: solid 1px #dadada;
		    padding: 5px 15px 0px 15px;
		    border-radius: 5px;
		    box-shadow: 1px 1px 5px #e6e6e6;

		    .table {
		    	margin-bottom: 5px;

		    	th {
		    		font-size: 14px;
		    	}

		    	td {
		    		padding-top: 10px;
		    		padding-bottom: 10px;
		    		white-space: nowrap;
    				font-size: 14px;
		    	}

		    	tr td:first-child {
		    		font-weight: 500;
		    	}
		    }
		}
	}

 	.salary-modal {
 		.modal-title {
 			font-weight: 500;
 			font-size: 18px;
 		}
 		.param-label {
 			font-weight: 500;
 			margin-bottom: 5px;
 		}

 		.form-control {
 			display: inline-block;
 			width: 200px;
 			margin-right: 5px;
 		}
 	}

 	.employment-modal {
 		.table {
			margin-top: 5px;

			th, td {
				border: solid 1px darken($grey, 10%);
				padding: 5px 10px;
				font-size: 12px;
				position: relative;

				small {
					position: absolute;
				    bottom: 1px;
				    right: 3px;
				}
			}

			th {
				text-align: center;
			}
		}
 	}
}

.statuses-page {
	.table {
		td {
			vertical-align: top;
		}
	}
	.custom-checkbox {
		font-size: 14px;
		color: darken($grey, 50%);
		margin-top: 5px;

		.custom-control-label::before,
		.custom-control-label::after {
			top: 3px;
		}
	}

	.ui-select-container {
		.btn,
		.ui-select-match-text {
			color: inherit;
		}
	}
}