.facilities-page {
	position: relative;
	
	.facility-block {
		border: solid 1px darken($grey, 10%);
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border-radius: 5px;
		padding: 15px;
		position: relative;
		margin-bottom: 30px;
		height: calc(100% - 30px);
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;

		.facility-content {
			transition: 0.3s;
		}

		&.paused {
			.facility-content {
				opacity: 0.5;
			}
		}

		.btn-group {
			position: absolute;
		    top: 15px;
		    right: 15px;
		}

		.facility-title {
			font-weight: 500;
			font-size: 20px;
			margin-bottom: 15px;
		}

		.facility-params {
			font-size: 14px;

			.param-name {
				color: darken($grey, 75%);
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 3px;
			}

			ul {
				padding-left: 20px;
			}

			.table {
				margin-top: 5px;
				margin-bottom: 0px;

				th, td {
					padding: 5px;
	    			text-align: left;
				}
			}
		}

		.buttons-block {
			margin-top: 15px;
		}
	}

	.facility-icon {
		position: relative;
		margin-bottom: 5px;

		img {
			width: 100%;

			&:nth-child(2) {
				height: 0%;
				position: absolute;
			    bottom: 0;
			    left: 0;
			    object-fit: cover;
				object-position: bottom;
				transition: height 0.3s;
			}
		}
	}

	.facility-status {
		text-align: center;
	    color: darken($grey, 35%);
	    font-size: 14px;

	    &.active {
	    	color: $green;
	    }
	}

	.add-worker-block {
		.divider {
			margin: 5px 12px;
		}
	}

	.facility-modal {
		.modal-dialog {
			max-width: 380px;
		}

		.form-group {
			margin-bottom: 0px;
		}

		.form-text {
			margin-top: 5px;
		}
    }

    .datepicker-block {
		padding: 10px 30px;
	    max-width: 350px;
	    margin-top: 10px;
	    border: solid 1px darken($grey, 10%);
	    position: relative;

	    &.disabled {
	    	opacity: 0.6;
	    }

	    .disabled-block {
	    	position: absolute;
	    	top: 0px;
	    	bottom: 0px;
	    	left: 0px;
	    	right: 0px;
	    	background: $grey;
	    	opacity: 0.1;
	    }

	    table {
	    	width: 100%;

	    	th {
	    		font-weight: 500;
	    	}

	    	th, td {

	    		span {

	    			&.now {
	    				background: $grey;
	    				color: #212529;
	    				text-shadow: none;

	    				&:hover {
			    			background: $grey;
			    			color: #212529;
			    		}
	    			}

	    			&.active.active {
	    				background: $primary;
	    				color: #FFFFFF;

	    				&:hover {
			    			background: $primary;
			    			color: #FFFFFF;
			    		}
	    			}

		    		&:hover {
		    			background: $grey;
		    		}	
	    		}
	    	}
	    }
	}

	.facility-edit-status-block {
		.custom-control > div {
			position: relative;
			display: inline-block;
		}

		.btn {
			position: absolute;
			top: -3px;
			right: -140px;
			white-space: nowrap;
		}
	}
}