* {
	border-radius: 0px !important;
}

body {
	background: lighten($grey, 10%);
}

body.modal-open {
	overflow-y: hidden;
}

.modal-open .modal {
	overflow-y: scroll;
}


header {
	background: $blue;
	z-index: 25;
	position: relative;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

	.navbar {
		padding-left: 0px;
    	padding-right: 0px;

		.navbar-nav .nav-link {
			color: #FFFFFF;
		}
	}

	.main-menu-toggler {
		display: none;
		padding: 0px;
	    font-size: 25px;
	    color: #FFFFFF;

	    &:hover {
	    	color: #FFFFFF;
	    }

		@include media-breakpoint-down(md) {
			display: block;
		}

		span:first-child {
			display: none;
		}
		span:last-child {
			display: inline;
		}
	}

	.navbar-nav {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

footer {
	height: 50px;
	background: $blue;
}


.content-block {
	min-height: 100vh;
    margin: 20px auto;
}


.main-menu-block {
    margin-top: 20px;
    border-radius: 5px;
   	overflow: hidden;
   	box-shadow: 1px 1px 5px darken($grey, 20%);
   	position: sticky;
    top: 20px;

   	@include media-breakpoint-down(md) {
	    z-index: 20;
	    position: fixed;
	    top: 56px;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    margin-top: 0px;
	    height: 0px;
	    overflow-y: scroll;
	    background: #276090;
	    transition: height 0.5s;
	}

	.container {
		@include media-breakpoint-up(lg) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.menu-item {
		border-bottom: solid 1px darken($grey, 10%);
		position: relative;

		@include media-breakpoint-down(md) {
			&:first-child {
				margin-top: 10px;
			}
		}

		& > a,
		& > .link {
			background: $primary;
			display: block;
			padding: 15px 17px;
			color: #FFFFFF;
			text-decoration: none;
			white-space: nowrap;
			text-overflow: ellipsis;
			cursor: pointer;
			transition: background 0.3s;

			&:hover {
				background: darken($primary, 4%);
			}

			@include media-breakpoint-only(lg) {
				padding: 15px 12px;
			}
		}

		&.has-submenu {
			& > a {
				margin-right: 50px;
				padding-right: 0px;
			}

			.toggle {
				position: absolute;
				top: 12px;
				right: 17px;
				font-size: 20px;
				color: #FFFFFF;
				transition: transform 0.3s;
				cursor: pointer;

				@include media-breakpoint-only(lg) {
					right: 10px;
				}
			}

			&.submenu-opened {
				.toggle {
					transform: rotate(-180deg);
				}

				.submenu-block {
					max-height: 300px;
					padding: 5px 0px;
					border-top: solid 1px darken($grey, 10%);
				}
			}
		}
	}

	.submenu-block {
		max-height: 0px;
		transition: height 0.3s;
		border-top: solid 0px darken($grey, 10%);
		padding: 0px;
		background: $primary;

		.submenu-item {
			display: block;
			border-top: solid 1px transparent;

			& > a {
				display: block;
				padding: 10px 20px;
				color: #FFFFFF;
				text-decoration: none;
				white-space: nowrap;
				text-overflow: ellipsis;
				background: $primary;
				transition: background 0.3s;

				@include media-breakpoint-only(lg) {
					padding: 10px 15px;
				}

				&:hover {
					background: darken($primary, 4%);
				}
			}
		}
	}
}


.main-menu-open {
	@include media-breakpoint-down(md) {
		overflow-y: hidden;

		.main-menu-block {
			height: 100%;
			display: block;
		}

		.main-menu-toggler {
			span:first-child {
				display: inline;
			}
			span:last-child {
				display: none;
			}
		}
	}
}





button:focus,
.btn:focus,
.form-control:focus {
	outline: none !important;
	box-shadow: none !important;
}

.form-control:disabled {
	background: $grey;
	color: darken($grey, 35%);
	background-clip: unset;
}

small {
	color: darken($grey, 35%);
}



#toast-container .toast {
	opacity: 0.85;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border: none;

	&:hover {
		opacity: 1;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	}

	&.toast-success {
		background-color: $green;
	}
}

h1 {
	font-size: 32px;
	border-bottom: solid 1px darken($grey, 10%);
    padding-bottom: 15px;
    margin-bottom: 0px;
}

i.fas, i.far {
	padding: 0px 3px;
}

.fluid-container {
	max-width: 1500px;
    margin: 0px auto;
    padding: 0px 30px;
}

.open > .dropdown-menu {
    display: block;
    min-width: unset;
}

.color-picker-wrapper .input-group {
	.input-group-addon {
		height: 38px;
		border-radius: 5px;

		&:first-child {
			border-right-width: 1px;
		}
	}

	.color-picker-input {
		display: none;
	}
}

.custom-select {
	background: inherit;
}


.top-right-button {
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;

	@include media-breakpoint-down(sm) {
		display: block;
	}
}


.top-buttons-block {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
		display: block;
	}

    .input-group {
    	&.search-group {
    		width: 350px;
    		max-width: 100%;

    		@include media-breakpoint-down(sm) {
				width: 100%;
    		}
    	}

    	&.date-group {
    		width: 200px;

    		.input-group-append {
    			border-top-left-radius: 0;
    			border-bottom-left-radius: 0;
    		}

    		.input-group-prepend {
    			border-top-right-radius: 0;
    			border-bottom-right-radius: 0;
    		}
    	}
    }

	.left-buttons {
		display: flex;

		& > .btn, 
		& > div {
			margin-right: 10px;

			&:last-child {
				margin-right: 0px;
			}
		}
	}

	.right-buttons {
		display: flex;

		& > .btn {
			margin-left: 10px;

			&:first-child {
				margin-left: 0px;
			}

			@include media-breakpoint-down(sm) {
				margin-left: 0px;
				margin-right: 10px;
				margin-top: 20px;
			}
		}
	}

	.btn {
		white-space: nowrap;
	}

	&.section-buttons-block {
		border-top: solid 1px darken($grey, 10%);
		margin-top: 30px;
		padding-bottom: 10px;

		.left-buttons {
			font-size: 25px;
	    	font-weight: 500;
	    }
	}
}

.edit-form-block {
	border-radius: 5px;
	box-shadow: 0px 0px 5px darken($grey, 10%);
	padding: 20px;
	border: solid 1px darken($grey, 10%);;

	.buttons-block {
		margin: 30px -20px -20px -20px;
		padding: 20px;
		background: $grey;
		text-align: center;
		border-top: solid 1px darken($grey, 10%);
		border-radius: 0px 0px 5px 5px;
	}

	.params-title {
    	color: darken($grey, 75%);
    	font-size: 20px;
    	font-weight: 500;
    	margin-bottom: 15px;
    }

    .params-block {
    	margin-bottom: 30px;
    }

    .main-params-block {
    	margin-bottom: 30px;
    	padding: 20px 20px 0px 20px;
    	border: solid 1px darken($grey, 10%);
    }

    .form-group {
    	margin-bottom: 20px;
    }

    .param-label {
    	color: darken($grey, 75%);
    	margin-bottom: 10px;
    	font-weight: 500;
    }

    .params-section {
		padding-top: 20px;
    	border-top: solid 1px #dadada;
	}
}


.show-block {
	border-radius: 5px;
    box-shadow: 0px 0px 5px darken($grey, 10%);
    padding: 20px;
    border: solid 1px darken($grey, 10%);

    .show-block-title {
    	color: darken($grey, 75%);
    	font-size: 25px;
    	font-weight: 500;
    	margin-bottom: 25px;
    }

    .params-title {
    	color: darken($grey, 65%);
    	font-size: 20px;
    	font-weight: 500;
    	margin: 25px 0px 15px 0px;
    }

    .params-block {
    	border: solid 1px darken($grey, 10%);
    	border-radius: 3px;
    	padding: 10px 15px;

    	.param-block:last-child {
			margin-bottom: 0px;
			padding-bottom: 0px;
			border-bottom: none;
    	}

    	& > .table {
    		margin-bottom: 0px;
    	}
    }

    .param-block {
    	margin-bottom: 20px;
	    padding-bottom: 8px;
	    border-bottom: solid 1px darken($grey, 10%);

	    &:last-child {
	    	margin-bottom: 15px;
	    }

    	.param-name {
    		color: darken($grey, 30%);
    		font-size: 16px;
    		margin-bottom: 5px;
    	}
    	.param-value {
    		color: #000000;
    		font-size: 16px;
    	}
    }
}

.table {
	th {
		border-top: none;
		// border-right: solid 1px darken($grey, 5%);
	}
	td {
		border-top: solid 1px darken($grey, 10%);
		// border-right: solid 1px darken($grey, 5%);
		vertical-align: middle;
	}


	th {
		color: darken($grey, 75%);
		font-weight: 500;
	}


	tr th, 
	tr td {
		&:last-child {
			padding-right: 0px;
			border-right: none;
		}
		&:first-child {
			padding-left: 0px;
		}
	}

	&.table-with-buttons {
		tr td:last-child {
			text-align: right;
			width: 1%;
		}
	}
}

.modal {
	display: block;
	background: rgba(0, 0, 0, 0.1);

	.modal-content {
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	}

	.modal-header {
		border-bottom: solid 1px darken($grey, 10%);
		font-weight: 500;
    	font-size: 18px;
	}

	.modal-footer {
		background: #f9f9f9;
	    justify-content: center;
	    border-top: solid 1px darken($grey, 10%);
	    border-radius: 0px 0px 5px 5px;
	}
}


.ui-select-container {
	border: solid 1px darken($grey, 10%);
    border-radius: 0.25rem;
}

.ui-select-container.is-invalid,
.form-control.is-invalid {
    border-color: $danger;
    padding-right: 0px;
    background-image: none;
}


.input-group {
	.ui-select-container {
		width: 100%;
	    position: relative;
	    flex: 1 1 0%;
	    min-width: 0;
	    height: 100%;
	}

	&.divided-input-group {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0px;
		}

		.form-control {
			margin: 0px 5px;

			&:first-child {
				margin-left: 0px;
			}

			&:last-child {
				margin-right: 0px;
			}
		}

		& > span {
			padding: 7px 0px;
    		display: inline-block;
		}
	}
}


.alerts-block {
	max-height: 0px;
	opacity: 0;
	overflow: hidden;
	transition: 0.3s;
	margin-bottom: 0px;

	&.shown {
		max-height: 100px;
		margin-bottom: 20px;
		opacity: 1;
	}

	.alert {
		margin-bottom: 0px;
	}

	.alert-success {
		.btn-link {
			color: $success;
			text-decoration: underline;
		}
	}

	&.top-alerts-block {
		position: absolute;
		top: -7px;
		right: 0px;
		max-height: unset;
		white-space: nowrap;
		overflow: hidden;
		transition: opacity 0.3s;
		position: fixed;
		top: 20px;
		right: 20px;
		z-index: 25;

		&.shown {
			max-width: 400px;
		}
	}
}


.no-data-block {
	padding: 70px 30px;
	font-size: 18px;
	text-align: center;

	@include media-breakpoint-down(sm) {
	    font-size: 16px;
	}

	& > .icon {
		font-size: 60px;
		color: darken($grey, 15%);
		margin-bottom: 5x;

		@include media-breakpoint-down(sm) {
		    font-size: 50px;
		}
	}

	.btn {
		margin-top: 25px;
	}
}


.buttons-block {
	.dropdown-menu {
		padding: 5px 0px;
	}
}

.btn-group {
	.btn {
		border-color: #FFFFFF;
		min-width: 50px;
	}
	.btn-sm {
		min-width: 40px;
	}
}
