.materials-page {
	position: relative;

	.main-table {
		@include media-breakpoint-down(md) {
			margin-bottom: 0px;
		}

		td {
			cursor: default;
			vertical-align: top;

			@include media-breakpoint-down(md) {
				border: none;
				font-size: 14px;
			}

			&:last-child {
				@include media-breakpoint-up(lg) {
					padding: 8px 0px;
				}
			}
		}

		.edit-field {
			cursor: pointer;
			position: relative;
			transition: 0.1s;
			display: inline-block;
			white-space: nowrap;

			&:hover {
				.units > span {
					color: $primary;
				}

				.form-control {
					color: $primary;
			    }
			}

			.units {
				position: absolute;
			    top: 0;
			    left: 0px;
			    color: transparent;
			    z-index: -1;

			    & > span {
			    	color: #000000;
			    }
			}

			.form-control {
				display: inline;
			    padding: 0px;
			    height: auto;
			    width: 85px;
			    border: none;
			    border-bottom: solid 1px transparent;
			    color: #000000;
			    background: transparent;

			    &:focus {
			    	border-bottom: solid 1px $primary;
			    }

			    @include media-breakpoint-down(md) {
					font-size: 14px;
			    }
			}
		}
	}

	.materials-table {
		td {
			width: 30%;
		}
	}

	.supply-modal {
		.table, .form-group {
			margin-bottom: 5px;
		}

		.param-label {
	    	color: darken($grey, 75%);
	    	margin-bottom: 10px;
	    	font-weight: 500;
	    }

		.ui-select-container {
			.form-control {
				height: calc(1.5em + 0.5rem + 2px);
			    padding: 0.25rem 0.5rem;
			    font-size: 0.875rem;
			    line-height: 1.5;
			}

			.ui-select-choices-row > span {
			    padding: 0.25rem 0.5rem;
			    font-size: 0.875rem;
			}

			.ui-select-choices {
				padding: 5px 0px;
			}
		}
	}
}