.orders-page {
	position: relative;

	.statuses-menu-block {
		padding: 10px;
		background: $grey;
		position: relative;

		.btn {
			background: #FFFFFF;
			border: solid 1px darken($grey, 5%);

			&.active {
				background: $primary;
				color: #FFFFFF;
				border-color: $primary;
			}
		}

		.main-category-block {
			position: absolute;
			top: 16px;
    		right: 15px;

    		.custom-control-inline {
			    margin-right: 0px;
				margin-left: 10px;

				.custom-control-label {
					cursor: pointer;
				}
    		}
		}
	}

	.top-statuses-menu-block {
		position: sticky;
	    margin: 0px -10px;
	    padding: 0px 10px 20px 10px;
	    top: 78px;
	    background: #FFFFFF;
	    z-index: 10;
	}
	
	.order-name {
		position: relative;
    	padding-right: 35px;

		.order-priority {
			background: $danger;
		    color: #FFFFFF;
		    position: absolute;
		    top: 3px;
		    right: 0;
		    font-size: 10px;
		    padding: 0px 3px;
		}
	}

	.order-progress {
		height: 40px;
		border: solid 1px darken($grey, 10%);
		margin-bottom: 20px;
		display: flex;

		.progress-realization,
		.progress-ready {
			border-right: solid 1px darken($grey, 10%);
			padding: 7px 0px;
			position: relative;
			height: 100%;
			width: 0%;
			min-width: 10%;
			transition: width 0.3s;
		}

		.progress-realization {
			background: lighten($green, 50%);
		}

		.progress-ready {
			background: lighten($blue, 50%);
		}

		.progress-number {
			text-align: center;
		}

		.progress-label {
			position: absolute;
			bottom: -25px;
		    left: 0px;
		    right: 0px;
		    text-align: center;
		    white-space: nowrap;
		    color: darken($grey, 30%);
		}
	}

	.product-progress-col {
		width: 350px;
	}

	.product-progress {
		width: 100%;
		min-width: 100px;
		height: 40px;
		border: solid 1px darken($grey, 10%);
		margin: 0 0 0 auto;
		display: flex;

		.progress-realization,
		.progress-ready,
		.progress-left {
			position: relative;
			height: 100%;
			width: 0%;
			min-width: 20%;
			line-height: 40px;
			transition: width 0.3s;
		}

		.progress-realization {
			background: lighten($green, 50%);
		}

		.progress-ready {
			background: lighten($blue, 50%);
		}

		.progress-left {
			background: $grey;
		}

		.progress-number {
			text-align: center;
		}

		.progress-label {
			position: absolute;
			bottom: -25px;
		    left: 0px;
		    right: 0px;
		    text-align: center;
		    white-space: nowrap;
		    color: darken($grey, 30%);
		}
	}


	.main-orders-block {
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);

		.table {
			font-size: 14px;
			margin-bottom: 0px;

			tr {
				cursor: pointer;

				&:hover,
				&.active {
					background: $grey;
				}

				&:first-child {
					cursor: default;

					&:hover,
					&.active {
						background: none;
					}
				}
			}

			th, td {
				padding: 10px;
			}
		}

		.no-current-order {
			text-align: center;
   			padding: 20px 0px;

   			.icon {
   				font-size: 40px;
   			}
		}
	}

	.main-products-block {
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);
		padding: 15px;
		position: relative;
		position: sticky;
		top: 156px;

		.table {
			font-size: 14px;
			margin-bottom: 0px;

			tr td:first-child,
			tr th:first-child {
				padding-left: 0px;
				text-align: left;
			}

			tr td:first-child {
				font-size: 12px;
			}

			.product-color {
				color: darken($grey, 35%);
			}

			th, td {
				text-align: center;
				padding: 7px;
			}
		}

		.title-block {
			font-size: 20px;
		    font-weight: 500;
		    margin-bottom: 10px;
		    color: $primary;
		}

		.btn-group {
			position: absolute;
		    top: 15px;
		    right: 15px;
		}

		.buttons-block {
			margin-top: 10px;
		}
	}

	.products-table {
		tr td {
			vertical-align: top;
			position: relative;

			.btn-default {
   				white-space: nowrap;

   				&:focus {
   					border-color: transparent;
   				}
			}

			&.number-col {
				padding: 18px 12px;
			}

			.form-control {
				background: transparent;

				&:focus {
					background: transparent;
				}
			}

			.product-stock {
				color: darken($grey, 35%);
    			font-size: 12px;
    			margin-top: 3px;
			}

			.product-units {
				position: absolute;
			    top: 20px;
    			left: 25px;
			    color: transparent;
			    z-index: -1;

			    & > span {
			    	color: #000000;
			    }
			}

			&:first-child {
				.btn-default {
					width: 200px;
				}
			}

			&:nth-child(2) {
				.btn-default {
					width: 100px;
				}
			}
		}
	}

	.small-products-table {
		tr td {
			border: none;
			vertical-align: middle;
			position: relative;
			white-space: nowrap;

			.form-control {
				background: transparent;

				&:focus {
					background: transparent;
				}
			}

			.product-units {
				position: absolute;
			    top: 12px;
    			left: 18px;
			    color: transparent;
			    z-index: -1;

			    & > span {
			    	color: #000000;
			    }
			}

			&:first-child {
				.product-units {
					left: 13px;
				}
			}
		}
	}

	.delivery-distance-block {
		display: flex;
    	align-items: center;
    	margin-top: 10px;
    	margin-bottom: 25px;

    	.form-control {
    		width: 100px;
    	}

    	& > span {
    		padding-left: 10px;
    		white-space: nowrap;
    	}
	}


	.realization-modal {
		.table {
			.product-color {
				color: darken($grey, 35%);
			}

			.form-control {
			    border: none;
			    box-shadow: none;
			    padding: 0px;
			    width: 100%;
			    height: auto;
			    border-bottom: solid 1px transparent;
			    text-align: center;
			    font-size: 14px;

			    &:focus {
			    	border-bottom: solid 1px #276090;
			    }
			}

			tr {
				td, th {
					width: 25%;
					text-align: center;
					border: solid 1px darken($grey, 10%);
					padding: 5px 10px;
					font-size: 14px;
				}

				td:first-child {
					width: 50%;
					text-align: left;
					font-size: 12px;
				}

				th {
					text-align: center;
				}
			}
		}

		.custom-control-label {
			font-size: 15px;
		}
	}

	.no-current-order {
		text-align: center;
	    font-size: 16px;
	    min-height: 100px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

	    .icon {
	    	font-size: 35px;
		    color: #9a9a9a;
		    margin-bottom: 3px;
	    }
	}
}