.orders-page {
	position: relative;
	
	.order-name {
		font-size: 30px;
    	margin-bottom: 20px;
	}

	.order-progress {
		height: 40px;
		border: solid 1px darken($grey, 10%);
		margin-bottom: 20px;
		display: flex;

		.progress-realization,
		.progress-ready {
			border-right: solid 1px darken($grey, 10%);
			padding: 7px 0px;
			position: relative;
			height: 100%;
			width: 0%;
			min-width: 10%;
			transition: width 0.3s;
		}

		.progress-realization {
			background: lighten($green, 50%);
		}

		.progress-ready {
			background: lighten($blue, 50%);
		}

		.progress-number {
			text-align: center;
		}

		.progress-label {
			position: absolute;
			bottom: -25px;
		    left: 0px;
		    right: 0px;
		    text-align: center;
		    white-space: nowrap;
		    color: darken($grey, 30%);
		}
	}

	.product-progress-col {
		width: 350px;
	}

	.product-progress {
		width: 100%;
		min-width: 100px;
		height: 40px;
		border: solid 1px darken($grey, 10%);
		margin: 0 0 0 auto;
		display: flex;

		.progress-realization,
		.progress-ready,
		.progress-left {
			position: relative;
			height: 100%;
			width: 0%;
			min-width: 20%;
			line-height: 40px;
			transition: width 0.3s;
		}

		.progress-realization {
			background: lighten($green, 50%);
		}

		.progress-ready {
			background: lighten($blue, 50%);
		}

		.progress-left {
			background: $grey;
		}

		.progress-number {
			text-align: center;
		}

		.progress-label {
			position: absolute;
			bottom: -25px;
		    left: 0px;
		    right: 0px;
		    text-align: center;
		    white-space: nowrap;
		    color: darken($grey, 30%);
		}
	}


	.order-block {
		border: solid 1px darken($grey, 10%);
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border-radius: 5px;
		padding: 15px;
		position: relative;
		margin-bottom: 30px;

		.btn-group {
			position: absolute;
		    top: 15px;
		    right: 15px;
		}

		.order-title {
			font-weight: 500;
			font-size: 18px;
			margin-bottom: 15px;

			.order-date {
				font-weight: normal;
				font-size: 14px;
				color: darken($grey, 35%);
			}
		}

		.order-icon {
			position: relative;
			margin-bottom: 5px;

			img {
				width: 100%;

				&:nth-child(2),
				&:nth-child(3) {
					height: 0%;
					position: absolute;
				    bottom: 0;
				    left: 0;
				    object-fit: cover;
					object-position: bottom;
					transition: height 0.3s;
				}
			}
		}

		.order-status {
			text-align: center;
		    color: darken($grey, 35%);
		    font-size: 14px;
		    margin-bottom: 10px;
		    white-space: nowrap;
		}

		.order-params {
			font-size: 14px;

			.param-name {
				color: darken($grey, 75%);
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 3px;
			}

			.param-value {
				margin-bottom: 10px;
    			font-size: 13px;
			}

			.table {
				margin-top: 5px;
				margin-bottom: 0px;

				td:first-child {
					font-size: 12px;

					.product-color {
						color: darken($grey, 35%);
					}
				}
			}

			.product-progress {
				height: 30px;

				.progress-realization,
				.progress-ready,
				.progress-left {
					line-height: 30px;
					min-width: 30%;
				}
			}
		}
		
		.buttons-block {
			margin-top: 15px;
		}
	}

	.products-table {
		tr {
			td {
				width: 14%;
			}

			td:first-child,
			td:nth-child(2) {
				width: 20%;
			}

			td:last-child {
				width: 4%;
			}
		}
	}
}