.orders-page {
	position: relative;

	.orders-row {

		.col:first-child {
			flex: 0 0 54%;
	    	max-width: 54%;

	    	@include media-breakpoint-only(md) {
	    		flex: 0 0 50%;
	    		max-width: 50%;
	    		padding-right: 5px;
	    	}

	    	@include media-breakpoint-down(sm) {
	    		flex: 0 0 100%;
	    		max-width: 100%;
	    	}
	    }
	    .col:last-child {
			flex: 0 0 46%;
	    	max-width: 46%;

	    	@include media-breakpoint-only(md) {
	    		flex: 0 0 50%;
	    		max-width: 50%;
	    	}

	    	@include media-breakpoint-down(sm) {
	    		flex: 0 0 100%;
	    		max-width: 100%;
	    		display: none;
	    	}

		    &.mobile-shown-col {
		    	@include media-breakpoint-down(sm) {
					display: block;
					position: fixed;
				    overflow-y: scroll;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    z-index: 25;
				    background: rgba(0, 0, 0, 0.1);
				    display: flex;
				    justify-content: center;
				    align-items: start;
				}
			}
	    }
	}

	.statuses-menu-block {
		position: relative;
		background: $grey;

		@include media-breakpoint-down(sm) {
			height: 40px;
			z-index: 2;
			margin-bottom: 50px;
		}

		.btn {
			background: #FFFFFF;
			border: solid 1px darken($grey, 5%);
			margin-bottom: 5px;

			@include media-breakpoint-down(sm) {
				display: block;
				width: 100%;
				text-align: left;
				padding: 8px 12px;
				margin-right: 0px;
				margin-bottom: 0px;
			}

			&.active {
				background: $primary;
				color: #FFFFFF;
				border-color: $primary;
			}
		}

		.statuses-menu {
			padding: 10px 10px 5px 10px;
			max-width: calc(100% - 200px);
			background: $grey;

			@include media-breakpoint-down(sm) {
				max-width: unset;
				padding-top: 0px;
				padding-bottom: 20px;
				max-height: 40px;
				overflow: hidden;
				transition: 0.3s;
				z-index: 1;
    			position: relative;

				&.shown {
					max-height: 400px;
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

					.categories-title .icon {
						transform: rotate(180deg);
					}
				}
			}

			.btn:nth-child(2) {
				margin-right: 3px;
			}
		}

		.main-category-block {
			position: absolute;
			top: 16px;
    		right: 15px;

    		@include media-breakpoint-down(sm) {
			    top: 53px;
	    		left: 0px;
	    		right: unset;
	    	}

    		.custom-control-inline {
			    margin-right: 0px;
				margin-left: 10px;

				@include media-breakpoint-down(sm) {
					margin-right: 10px;
					margin-left: 0px;
				}

				.custom-control-label {
					cursor: pointer;
				}
    		}
		}

		.statuses-title {
			position: relative;
			width: auto;
		    background: #276090;
		    border: none;
		    color: #FFFFFF;
		    padding: 8px 12px;
		    margin: 0 -10px 20px -10px;
			
			.icon {
				position: absolute;
				top: 3px;
			    right: 12px;
			    font-size: 22px;
			    transition: 0.3s;
			}
		}
	}

	.date-pagination-block {
		display: flex;
    	justify-content: space-between;
		margin-top: 20px;

    	.pagination {
    		margin: 0px;

    		.previous .btn,
    		.next .btn {
    			padding: 6px 10px;
    		}

    		.previous {
    			margin-right: 5px;
    		}

    		.next {
    			margin-left: 5px;
    		}

    		li:first-child {
    			padding: 5px 10px 5px 0px;
    		}

    		.btn:not(.btn-primary) {
				background: #FFFFFF;
				border: solid 1px darken($grey, 5%);
				width: 42px;

				&.active {
					background: #276090;
    				color: white;
				}
			}
    	}
	}

	.top-statuses-menu-block {
		position: sticky;
	    margin: 0px -10px;
	    padding: 0px 10px 20px 10px;
	    top: 78px;
	    background: #FFFFFF;
	    z-index: 10;
	}
	
	.order-name {
		position: relative;

		.order-priority {
			background: $danger;
		    color: #FFFFFF;
		    position: absolute;
		    top: 3px;
		    right: 0;
		    font-size: 10px;
		    padding: 0px 3px;
		}
	}

	.main-orders-block {
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);
		margin-top: 20px;

		@include media-breakpoint-down(sm) {
			margin-top: 10px;
		}

		.table {
			font-size: 13px;
			margin-bottom: 0px;

			tr {
				cursor: pointer;

				&:hover,
				&.active {
					td {
						background: $grey;
					}
				}

				&:first-child {
					cursor: default;

					th {
						padding-top: 10px;
					}
				}

				&:last-child {
					cursor: default;

					td {
						padding-bottom: 10px;
					}
				}
			}

			th, td {
				padding: 8px;
				white-space: nowrap;

				&:first-child {
					padding-left: 10px;
				}
			}
		}

		.no-current-order {
			text-align: center;
   			padding: 20px 0px;

   			.icon {
   				font-size: 40px;
   			}
		}
	}

	.main-products-block {
		position: sticky;
		top: 20px;
		margin-top: 20px;
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);

		@include media-breakpoint-down(sm) {
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
			border: solid 1px rgba(0, 0, 0, 0.3);
			width: 100%;
			max-width: 430px;
			background: #FFFFFF;
		}

		.main-products {
			position: relative;
			padding: 15px 10px;

			@include media-breakpoint-down(sm) {
				padding: 15px;
			}
		}


		.order-info-block {
			font-size: 14px;
    		margin-bottom: 5px;

			.order-info-title {
				font-weight: 500;
			}
		}

		.table {
			font-size: 14px;
			margin-bottom: 0px;

			@include media-breakpoint-down(md) {
				tr:nth-child(2n+1) {
					td {
					    border-top: none;
					    padding-top: 0px;
					    padding-bottom: 10px;
					    padding-left: 0px;
					}
				}
				tr:nth-child(2n) {
					td {
						padding-top: 10px;
					}
				}
			}

			@include media-breakpoint-down(sm) {
				margin-top: 20px;
			}

			tr td:first-child,
			tr th:first-child {
				padding-left: 0px;
				text-align: left;
			}

			tr td:first-child {
				font-size: 12px;
				white-space: normal;
			}

			tr td:nth-child(2),
			tr th:nth-child(2) {
				@include media-breakpoint-down(md) {
					padding-left: 0px;
					text-align: left;
				}
			}

			.product-color {
				color: darken($grey, 35%);
			}

			th, td {
				text-align: center;
				padding: 7px 3px;
				white-space: nowrap;

				@include media-breakpoint-down(md) {
					padding-left: 0px;
				}
			}

			th {
				font-size: 13px;
			}
		}

		.title-block {
			font-size: 20px;
		    font-weight: 500;
		    margin-bottom: 5px;
		    color: $primary;
		    line-height: 22px;

		    .order-status-block {
		    	font-size: 14px;
		    	font-weight: normal;
		    	color: darken($grey, 35%);
		    }
		}

		.btn-group {
			position: absolute;
		    top: 15px;
		    right: 10px;
		}

		.buttons-block {
			margin-top: 10px;
		}
	}

	.table {
		tr td {
			position: relative;
		}
		.form-control {
			background: transparent;
			color: #212529;
			z-index: 1;
    		position: relative;

			&:focus {
				background: transparent;
			}
		}
	}

	.order-products-table {
		table-layout: fixed;

		tr {
			td, th {
				@include media-breakpoint-down(md) {
					border-top: none;
					padding-left: 0px;
				}
				&:first-child {
					width: 34%;
				}
				&:nth-child(2) {
					width: 18%;
				}
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					width: 14%;

					@include media-breakpoint-down(md) {
						width: 33%;
					}
				}
				&:nth-child(6) {
					width: 6%;
				}
			}

			th {
				@include media-breakpoint-down(md) {
					padding-bottom: 0px;
				}
			}

			td {
				vertical-align: top;
				position: relative;
				text-align: left;

				.btn-default {
	   				white-space: nowrap;

	   				&:focus {
	   					border-color: transparent;
	   				}
				}

				&.number-col {
					padding: 18px 12px;
				}

				.empty-select {
					border: solid 1px #dadada;
				    height: 39px;
				    text-align: center;
				    display: block;
				    padding: 6px 12px;
				}

				.product-stock {
					color: darken($grey, 35%);
	    			font-size: 12px;
	    			margin-top: 3px;
				}
			}
		}
	}

	.order-product-block {
		border-bottom: solid 1px darken($grey, 10%);
		padding-bottom: 10px;
		margin-bottom: 15px;

		.form-group {
			margin-bottom: 5px;
		}

		.table-sm {
			margin-bottom: 0px;

			td {
				border-top: none;
			}
		}
	}


	.delivery-distance-block {
		display: flex;
    	align-items: center;
    	margin-top: 10px;
    	margin-bottom: 25px;

    	.form-control {
    		width: 100px;
    	}

    	& > span {
    		padding-left: 10px;
    		white-space: nowrap;
    	}
	}

	.order-form-group {
		display: flex;
	    align-items: center;
	    margin-bottom: 10px;
	    position: relative;

	    .param-label {
	    	margin-bottom: 0px;
	    	margin-right: 15px;
	    }

	    .form-control {
	    	width: 200px;
	    }

	    .form-control {
			background: transparent;
			color: #212529;

			&:focus {
				background: transparent;
			}
		}
	}

	.form-group-units {
		position: relative;

		.form-control {
			background: transparent;
			z-index: 1;
    		position: relative;

			&:focus {
				background: transparent;
			}
		}

		.units {
	    	position: absolute;
		    top: 12px;
		    left: 13px;
		    color: transparent;
		    z-index: 0;
		    line-height: 100%;

		    & > span {
		    	color: darken($grey, 50%);
		    }
	    }
	}

	.order-realizations-table {
		margin-top: 20px;

		.product-color {
			color: darken($grey, 35%);
		}

		tr {
			td, th {
				width: 25%;
				text-align: left;
				font-size: 14px;
			}

			td:first-child {
				font-size: 12px;
			}

			th:last-child,
			td:last-child {
				min-width: 100px;
				padding-left: 20px;
			}

			th {
				vertical-align: middle;
			}
		}

		.form-group-units {
			position: relative;

			.form-control {
				background: transparent;
				z-index: 1;
	    		position: relative;

				&:focus {
					background: transparent;
				}
			}

			.units {
		    	position: absolute;
			    top: 9px;
			    left: 9px;
			    color: transparent;
			    z-index: 0;
			    line-height: 100%;

			    & > span {
			    	color: darken($grey, 50%);
			    }
		    }
		}
	}


	.realization-modal {
		.table {
			.product-color {
				color: darken($grey, 35%);
			}

			.form-group-units {
				position: relative;

				.form-control {
					background: transparent;
					z-index: 1;
		    		position: relative;

					&:focus {
						background: transparent;
					}
				}

				.units {
			    	position: absolute;
				    top: 9px;
				    left: 9px;
				    color: transparent;
				    z-index: 0;
				    line-height: 100%;

				    & > span {
				    	color: darken($grey, 50%);
				    }
			    }
			}

			tr {
				td, th {
					width: 25%;
					text-align: left;
					font-size: 14px;
				}

				td:first-child {
					font-size: 12px;
				}

				th:last-child,
				td:last-child {
					min-width: 100px;
					padding-left: 20px;
				}

				th {
					vertical-align: middle;
				}
			}
		}

		.custom-control-label {
			font-size: 15px;
		}

		.param-label {
		    color: #343434;
		    margin-bottom: 5px;
		    font-weight: 500;
		}
	}

	.no-current-order {
		text-align: center;
	    font-size: 16px;
	    min-height: 100px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

	    .icon {
	    	font-size: 35px;
		    color: #9a9a9a;
		    margin-bottom: 3px;
	    }
	}

	.payment-modal {
		.param-label {
	    	color: darken($grey, 75%);
	    	margin-bottom: 10px;
	    	font-weight: 500;
	    }

	    .info-block {
	    	background: lighten($grey, 1%);
		    padding: 10px;
		    margin-bottom: 20px;
		    text-align: center;

		    .table {
		    	margin-bottom: 0px;
		    }
	    }

	    .form-group-units {
			position: relative;

			.form-control {
				background: transparent;
				z-index: 1;
	    		position: relative;

				&:focus {
					background: transparent;
				}
			}

			.units {
		    	position: absolute;
			    top: 12px;
			    left: 13px;
			    color: transparent;
			    z-index: 0;
			    line-height: 100%;

			    & > span {
			    	color: darken($grey, 50%);
			    }
		    }
		}
	}

	.history-table-block {
		border: solid 1px darken($grey, 10%);
	    padding: 10px 15px;
	    box-shadow: 1px 1px 5px darken($grey, 5%);

	    .table {
	    	margin-bottom: 0px;
	    	font-size: 15px;

			.product-color {
				color: darken($grey, 35%);
			}

			tr:first-child th {
				padding-bottom: 10px;
			}

			tr:last-child th {
				border-top: solid 1px darken($grey, 10%);
				padding-top: 10px;
    			padding-bottom: 5px;
			}
	    }
	}

	.history-table {
		tr td,
		tr th {
			vertical-align: top;
		}
	}
}

.paid-cost-modal {
	.modal-loading-block {
		padding-top: 35px;
	}
	
	.modal-dialog {
		max-width: 600px;
	}

	.modal-body {
		min-height: 152px;
	}

	.table {
		tr {
			td, th {
				width: 25%;
				text-align: center;
				border: solid 1px darken($grey, 10%);
				padding: 5px 10px;
				font-size: 14px;
				white-space: nowrap;
			}

			th {
				text-align: center;
				vertical-align: middle;
			}

			td:first-child {
				text-align: left;
			}
		}
	}

	.no-paid-cost-block {
		text-align: center;
		font-size: 16px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

		div:first-child {
			font-size: 35px;
			color: darken($grey, 35%);
		}
	}
}