.orders-page {
	position: relative;

	.statuses-menu-block {
		position: relative;

		@include media-breakpoint-down(sm) {
			height: 40px;
			z-index: 2;
			margin-bottom: 50px;
		}

		.btn {
			background: #FFFFFF;
			border: solid 1px darken($grey, 5%);

			@include media-breakpoint-down(sm) {
				display: block;
				width: 100%;
				text-align: left;
				padding: 8px 12px;
				margin-right: 0px;
			}

			&.active {
				background: $primary;
				color: #FFFFFF;
				border-color: $primary;
			}
		}

		.statuses-menu {
			padding: 10px;
			background: $grey;

			@include media-breakpoint-down(sm) {
				padding-top: 0px;
				padding-bottom: 20px;
				max-height: 40px;
				overflow: hidden;
				transition: 0.3s;
				z-index: 1;
    			position: relative;

				&.shown {
					max-height: 300px;
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

					.categories-title .icon {
						transform: rotate(180deg);
					}
				}
			}
		}

		.main-category-block {
			position: absolute;
			top: 16px;
    		right: 15px;

    		@include media-breakpoint-down(md) {
			    top: 53px;
	    		left: 0px;
	    		right: unset;
	    	}

    		.custom-control-inline {
			    margin-right: 0px;
				margin-left: 10px;

				@include media-breakpoint-down(sm) {
					margin-right: 10px;
					margin-left: 0px;
				}

				.custom-control-label {
					cursor: pointer;
				}
    		}
		}

		.statuses-title {
			position: relative;
			width: auto;
		    background: #276090;
		    border: none;
		    color: #FFFFFF;
		    padding: 8px 12px;
		    margin: 0 -10px 20px -10px;
			
			.icon {
				position: absolute;
				top: 3px;
			    right: 12px;
			    font-size: 22px;
			    transition: 0.3s;
			}
		}
	}

	.date-pagination-block {
		display: flex;
    	justify-content: space-between;
  //   	padding: 10px;
		// background: $grey;
		margin-top: 20px;

    	.pagination {
    		margin: 0px;

    		.previous .btn,
    		.next .btn {
    			padding: 6px 10px;
    		}

    		.previous {
    			margin-right: 5px;
    		}

    		.next {
    			margin-left: 5px;
    		}

    		li:first-child {
    			padding: 5px 10px 5px 0px;
    		}

    		.btn:not(.btn-primary) {
				background: #FFFFFF;
				border: solid 1px darken($grey, 5%);
				width: 42px;

				&.active {
					background: #276090;
    				color: white;
				}
			}
    	}
	}

	.top-statuses-menu-block {
		position: sticky;
	    margin: 0px -10px;
	    padding: 0px 10px 20px 10px;
	    top: 78px;
	    background: #FFFFFF;
	    z-index: 10;
	}
	
	.order-name {
		position: relative;
    	padding-right: 35px;

		.order-priority {
			background: $danger;
		    color: #FFFFFF;
		    position: absolute;
		    top: 3px;
		    right: 0;
		    font-size: 10px;
		    padding: 0px 3px;
		}
	}

	.main-orders-block {
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);
		margin-top: 20px;

		.table {
			font-size: 14px;
			margin-bottom: 0px;

			tr {
				cursor: pointer;

				&:hover,
				&.active {
					background: $grey;
				}

				&:first-child {
					cursor: default;

					&:hover,
					&.active {
						background: none;
					}
				}
			}

			th, td {
				padding: 10px;
				white-space: nowrap;
			}
		}

		.no-current-order {
			text-align: center;
   			padding: 20px 0px;

   			.icon {
   				font-size: 40px;
   			}
		}
	}

	.main-products-block {
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);
		padding: 15px;
		position: relative;
		position: sticky;
		top: 20px;
		margin-top: 20px;

		.order-info-block {
			font-size: 14px;
    		margin-bottom: 5px;

			.order-info-title {
				font-weight: 500;
			}
		}

		.table {
			font-size: 14px;
			margin-bottom: 0px;

			tr td:first-child,
			tr th:first-child {
				padding-left: 0px;
				text-align: left;
			}

			tr td:first-child {
				font-size: 12px;
				white-space: normal;
			}

			.product-color {
				color: darken($grey, 35%);
			}

			th, td {
				text-align: center;
				padding: 7px;
				white-space: nowrap;
			}
		}

		.title-block {
			font-size: 20px;
		    font-weight: 500;
		    margin-bottom: 5px;
		    color: $primary;
		    line-height: 22px;

		    .order-status-block {
		    	font-size: 14px;
		    	font-weight: normal;
		    	color: darken($grey, 35%);
		    }
		}

		.btn-group {
			position: absolute;
		    top: 15px;
		    right: 15px;
		}

		.buttons-block {
			margin-top: 10px;
		}
	}

	.table {
		tr td {
			position: relative;
		}

		.product-units {
			position: absolute;
		    top: 20px;
			left: 25px;
		    color: transparent;

		    & > span {
		    	color: #495057;
		    }
		}

		.form-control {
			background: transparent;
			color: #212529;
			z-index: 1;
    		position: relative;

			&:focus {
				background: transparent;
			}
		}
	}

	.products-table {
		tr td {
			vertical-align: top;
			position: relative;

			.btn-default {
   				white-space: nowrap;

   				&:focus {
   					border-color: transparent;
   				}
			}

			&.number-col {
				padding: 18px 12px;
			}

			.empty-select {
				border: solid 1px #dadada;
			    height: 39px;
			    text-align: center;
			    display: block;
			    padding: 6px 12px;
			}

			.product-stock {
				color: darken($grey, 35%);
    			font-size: 12px;
    			margin-top: 3px;
			}

			&:first-child {
				.ui-select-container {
					width: 287px;;
				}

				.empty-select {
					width: 287px;;
				}
			}

			&:nth-child(2) {
				.ui-select-container {
					width: 132px;
				}

				.empty-select {
					width: 132px;
				}
			}
		}
	}


	.delivery-distance-block {
		display: flex;
    	align-items: center;
    	margin-top: 10px;
    	margin-bottom: 25px;

    	.form-control {
    		width: 100px;
    	}

    	& > span {
    		padding-left: 10px;
    		white-space: nowrap;
    	}
	}

	.order-paid-block {
		display: flex;
	    align-items: center;
	    margin-bottom: 20px;
	    position: relative;

	    .param-label {
	    	margin-bottom: 0px;
	    	margin-right: 15px;
	    }

	    .form-control {
	    	width: 200px;
	    }

	    .form-control {
			background: transparent;
			color: #212529;

			&:focus {
				background: transparent;
			}
		}

	    .product-units {
	    	position: absolute;
		    top: 8px;
		    left: 108px;
		    color: transparent;
		    z-index: -1;

		    & > span {
		    	color: #495057;
		    }
	    }
	}


	.realization-modal {
		.table {
			.product-color {
				color: darken($grey, 35%);
			}

			.form-control {
			    border: none;
			    box-shadow: none;
			    padding: 0px;
			    width: 100%;
			    height: auto;
			    border-bottom: solid 1px transparent;
			    text-align: center;
			    font-size: 14px;

			    &:focus {
			    	border-bottom: solid 1px #276090;
			    }
			}

			tr {
				td, th {
					width: 25%;
					text-align: center;
					border: solid 1px darken($grey, 10%);
					padding: 5px 10px;
					font-size: 14px;
				}

				td:first-child {
					width: 50%;
					text-align: left;
					font-size: 12px;
				}

				th {
					text-align: center;
					vertical-align: middle;
				}

				&.disabled {
					background: lighten($grey, 3%);
					color: darken($grey, 35%);

					.form-control:disabled {
						background: lighten($grey, 3%);
					}
				}
			}
		}

		.custom-control-label {
			font-size: 15px;
		}
	}

	.no-current-order {
		text-align: center;
	    font-size: 16px;
	    min-height: 100px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

	    .icon {
	    	font-size: 35px;
		    color: #9a9a9a;
		    margin-bottom: 3px;
	    }
	}

	.payment-modal {
		.param-label {
	    	color: darken($grey, 75%);
	    	margin-bottom: 10px;
	    	font-weight: 500;
	    }

	    .info-block {
	    	background: lighten($grey, 3%);
		    padding: 10px;
		    margin-bottom: 20px;
		    text-align: center;
		    border: solid 1px darken($grey, 10%);
	    }
	}

	.history-table-block {
		border: solid 1px darken($grey, 10%);
	    padding: 10px 15px;
	    box-shadow: 1px 1px 5px darken($grey, 5%);

	    .table {
	    	margin-bottom: 0px;
	    	font-size: 15px;

	    	tr td,
			tr th {
				.product-color {
					color: darken($grey, 35%);
				}
			}
	    }
	}

	.history-table {
		tr td,
		tr th {
			vertical-align: top;
		}
	}
}