.production-page {
	position: relative;
	
	.production-block {
		display: flex;
		border-radius: 5px;
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);
		overflow: hidden;
		min-height: 232px;

		.products-block	{
			flex: none;
	    	z-index: 1;
	    	box-shadow: 2px 0px 6px darken($grey, 6%);
	    	border-right: solid 1px darken($grey, 10%);
	    	background: $grey;

			.table {
				th {
					height: 41px;
					font-size: 12px;
				    text-align: center;
				    padding: 5px 8px;
				    vertical-align: middle;
				    border-left: solid 1px darken($grey, 10%);
				}

				tr th:first-child {
					border-left: none;
				}

				td {
					border-bottom: solid 1px darken($grey, 10%);
					padding: 5px 8px;
					height: 50px;
					white-space: nowrap;
					text-overflow: ellipsis;
					background: $grey;
					font-size: 12px;
					border-left: solid 1px darken($grey, 10%);
					text-align: center;

					@include media-breakpoint-down(sm) {
						height: 65px;
					}


					.product-color {
						color: darken($grey, 35%);
					}
				}

				tr td:first-child {
					text-align: left;
					border-left: none;
				}
			}
		}

		.productions-block {
			overflow-x: scroll;
			border-right: solid 1px darken($grey, 10%);

			.table {
				margin: 0px -1px;
				width: 1500px;
				font-size: 14px;


				th, td {
					padding: 10px;
					border-left: solid 1px darken($grey, 10%);
					vertical-align: middle;
					text-align: center;
					cursor: pointer;
					// transition: 0.3s;
				}

				th {
					background: $grey;
					border-left: solid 1px darken($grey, 10%);

					&:hover,
					&.hover {
						background: darken($grey, 3%);
					}

					&.current {
						background: lighten($primary, 55%);
					}
				}

				td {
					height: 50px;
					width: 3%;
					padding: 0px;
					background: #FFFFFF;
					text-align: center;
					vertical-align: middle;
					border-bottom: solid 1px darken($grey, 10%);

					@include media-breakpoint-down(sm) {
						height: 65px;
					}

					&:hover, 
					&.hover {
						background: lighten($grey, 1%);
					}

					&.current {
						background: lighten($primary, 61%);
					}

					.production {
						width: 50px;
    					height: 49px;
					    padding: 12px 0px;
					    border: solid 1px transparent;
					    font-size: 14px;
					    position: relative;

					    @include media-breakpoint-down(sm) {
							height: 64px;
							padding: 19px 0px;
						}

					    &.marked {
					    	border-color: #FFFFFF;

							.production-planned {
								color: #FFFFFF;
							}

							.production-performed {
								color: #FFFFFF;

								&:before {
									border-color: #FFFFFF;
								}
							}

							.production-facility {
								border-bottom-color: #FFFFFF !important;
							}
					    }
						
						.production-planned {
							color: darken($grey, 25%);
						}

						.production-performed {
							font-weight: 500;
							color: $primary;

							&:before {
								content: '';
								width: 40px;
					   			height: 39px;
							    border-radius: 50%;
							    top: calc(50% - 21px);
							    left: 4px;
							    border: solid 1px $primary;
							    position: absolute;
							    // transition: 0.3s;
							}
						}

						.production-facility {
							position: absolute;
							bottom: 0px;
							right: 0px;
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 0 0 12px 12px;
							border-color: transparent;
						}
					}
				}
			}
		}
	}

	.production-modal {

		.edit-field {
			cursor: pointer;
			position: relative;
			transition: 0.1s;
			display: inline-block;

			&:hover {
				.units > span {
					color: $primary;
				}

				.form-control {
					color: $primary;
			    }
			}

			.units {
				position: absolute;
			    top: 0;
			    left: 0px;
			    color: transparent;
			    z-index: -1;

			    & > span {
			    	color: #000000;
			    }
			}

			.form-control {
				display: inline;
			    padding: 0px;
			    height: auto;
			    width: 70px;
			    border: none;
			    border-bottom: solid 1px transparent;
			    color: #000000;
			    background: transparent;

			    &:focus {
			    	border-bottom: solid 1px $primary;
			    }

			    @include media-breakpoint-down(md) {
					font-size: 14px;
			    }
			}
		}

		.alert {
			font-size: 14px;
			margin-top: 10px;
    		padding: 10px;
		}

		.nav-tabs {
			flex-wrap: nowrap;
		}

		.nav-item {
			@include media-breakpoint-down(sm) {
				flex: auto;

				.nav-link {
					width: 100%;
					font-size: 14px;
					padding-left: 0px;
					padding-right: 0px;
				}
			}

			.nav-link {
				background: $grey;
				color: darken($grey, 35%);

				&.active {
					background: #FFFFFF;
					color: #000000;
				}
			}
		}

		.modal-dialog {
			max-width: 600px;
		}

		.modal-title {
			font-size: 18px;
			font-weight: 500;
			color: darken($grey, 75%);
		}

		.table {
			margin-top: 5px;

			th, td {
				border: solid 1px darken($grey, 10%);
				padding: 5px 10px;
				font-size: 12px;
				position: relative;

				small {
					position: absolute;
				    bottom: 1px;
				    right: 3px;
				}
			}

			th {
				text-align: center;
			}

			.product-color {
				color: darken($grey, 35%);
			}

			.order-name {
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.order-date {
				color: darken($grey, 35%);
			}

			.form-control {
				border: none;
				box-shadow: none;
				padding: 0px;
				width: 100%;
				height: auto;
				border-bottom: solid 1px transparent;

				&:focus {
					border-bottom: solid 1px $primary;
				}

				&.form-control-num {
					text-align: center;
					font-size: 12px;
				}
			}

			.ui-select-container {
				border: none;

				.btn {
					border: none;
					padding: 3px 7px;
					font-size: 12px;

					&:focus {
						box-shadow: none;
					}
				}

				.btn-default-focus {
					box-shadow: none;
					background: #FFFFFF;
					outline: none;
				}

				.form-control {
					padding: 3px 7px;
					font-size: 12px;
				}

				.dropdown-menu {
					font-size: 12px;
					padding: 3px 0px;

					.ui-select-choices-row-inner {
						padding: 3px 7px;
						white-space: unset;
					}
				}
			}
		}

		.add-product-block {
			display: flex;
    		width: 100%;
    		padding: 10px;
    		background: $grey;

    		@include media-breakpoint-down(sm) {
				display: block;
			}

    		& > div {
    			background: #FFFFFF;
    			flex: 2;
    			margin-right: 5px;

    			@include media-breakpoint-down(sm) {
					display: block;
					margin-bottom: 7px;
					margin-right: 0px;
				}

    			&:first-child {
    				flex: 3;
    			}

    			&:last-child {
    				flex: unset;
    				margin-right: 0px;

    				@include media-breakpoint-down(sm) {
						display: inline-block;
						margin-bottom: 0px;
					}
    			}
    		}

    		.empty-select {
    			border: solid 1px darken($grey, 10%);
    			height: 100%;
    			min-height: 31px;
    			text-align: center;
    		}

    		.ui-select-container {

    			.ui-select-match {
    				border: none;
    			}

    			.ui-select-match-text {
    				white-space: nowrap;
    				text-overflow: ellipsis;
    				width: 100%;
				}
    				

				.btn {
					padding: 5px 8px;
					font-size: 14px;

					&:focus {
						box-shadow: none;
					}
				}

				.form-control {
					padding: 5px 8px;
				    font-size: 14px;
				    height: auto;
				    border: none;
				}

				.dropdown-menu {
					font-size: 14px;
					padding: 5px 0px;

					.ui-select-choices-row-inner {
						padding: 4px 7px;
					}
				}
			}
		}

		.plan-block {
			margin-top: 15px;

			.production-facility-col {
				position: relative;

				.production-facility {
					position: absolute;
					bottom: 1px;
					right: 1px;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0 0 15px 15px;
					border-color: transparent;
				}
			}
		}

		.total-block {
			margin-top: 15px;

			.block-title {
    			font-size: 18px;
    			font-weight: 500;
    			margin-bottom: 15px;
    		}

    		.table {
    			tr td:nth-child(2),
    			tr td:last-child {
    				white-space: nowrap;
    			}
    		}
		}

		.production-facility-block {
			margin-top: 10px;
    		padding-bottom: 15px;
    		border-bottom: solid 1px darken($grey, 10%);

    		&:last-child {
    			border-bottom: none;
    			padding-bottom: 0px;
    		}

    		.block-title {
    			font-size: 18px;
    			font-weight: 500;
    			position: relative;
    			padding-left: 25px;

    			& > span {
    				display: block;
				    position: absolute;
				    height: 18px;
				    width: 18px;
				    top: 4px;
				    left: 0px;
    			}
    		}
		}
	}

	.production-orders {
		border: solid 1px darken($grey, 10%);
		padding: 15px 15px 5px 15px;
		border-radius: 5px;
		box-shadow: 1px 1px 5px darken($grey, 5%);
		min-height: 232px;

		.orders-title {
			text-align: center;
			padding-bottom: 10px;
		    margin-bottom: 10px;
		    font-weight: bold;
		    border-bottom: solid 1px darken($grey, 10%);
		}

		.order-block {
			font-size: 15px;
			padding-bottom: 5px;
			margin-bottom: 10px;
			border-bottom: solid 1px darken($grey, 10%);

			&:last-child {
				margin-bottom: 0px;
				border-bottom: none;
			}

			.order-date {
				font-size: 12px;
				color: darken($grey, 35%);
			}

			.custom-control-input:checked ~ .custom-control-label::before {
				background-color: inherit;
				border-color: inherit;
			}

			.custom-control-label::before,
			.custom-control-label::after {
			    top: 2px;
			    width: 18px;
			    height: 18px;
			}
		}

		.order-products {
			font-size: 12px;
			margin-bottom: 0px;

			td {
				padding: 3px;
				border: none;
			}

			tr td {
				&:last-child {
					padding-right: 0px;
					border-right: none;
					text-align: right;
				}
				&:first-child {
					padding-left: 0px;
				}
			}

			.product-color {
				color: darken($grey, 35%);
				font-size: 12px;
			}
		}
	}

	.no-productions {
		text-align: center;
		font-size: 18px;
		border: solid 1px darken($grey, 10%);
		box-shadow: 1px 1px 5px darken($grey, 5%);
	    border-radius: 5px;
	   	height: 100%;
	   	min-height: 200px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    padding: 25px 10px;

		div:first-child {
			margin-bottom: 5px;
			font-size: 60px;
			color: darken($grey, 35%);
		}

		div:last-child {
			margin-top: 20px;
		}
	}

	.no-production-orders {
		text-align: center;
		font-size: 16px;
	   	min-height: 100px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    padding: 20px 10px;

		div:first-child {
			font-size: 35px;
			color: darken($grey, 35%);
			margin-bottom: 3px;
		}

		div:last-child {
			margin-top: 15px;
		}
	}
}