.production-page {
	position: relative;
	
	.production-block {
		display: flex;
		border-radius: 5px;
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);
		max-height: calc(100vh - 99px);

		.products-block	{
			flex: none;
	    	z-index: 1;
	    	border-right: solid 1px darken($grey, 10%);
	    	background: $grey;
	    	max-height: calc(100vh - 241px);
	    	overflow: hidden;
	    	padding-bottom: 17px;

			.table {
				margin-bottom: 0px;

				tr:first-child td {
					border-top: none;
				}

				th {
					height: 41px;
					font-size: 12px;
				    text-align: center;
				    padding: 5px 8px;
				    vertical-align: middle;
				    border-left: solid 1px darken($grey, 10%);
				    border-bottom: solid 1px darken($grey, 10%);
				}

				tr th:first-child {
					border-left: none;
				}

				td {
					border-bottom: solid 1px darken($grey, 10%);
					padding: 5px 8px;
					height: 50px;
					white-space: nowrap;
					text-overflow: ellipsis;
					background: $grey;
					font-size: 12px;
					border-left: solid 1px darken($grey, 10%);
					text-align: center;

					@include media-breakpoint-down(sm) {
						height: 65px;
					}

					.product-name {
						text-overflow: ellipsis;
   						overflow: hidden;
					}

					.product-color {
						color: darken($grey, 35%);
					}

					.production-date-to {
						font-size: 11px;
						color: darken($grey, 35%);
					}
				}

				tr td:first-child {
					text-align: left;
					border-left: none;
					width: 200px;
					max-width: 200px;

					@include media-breakpoint-down(md) {
						width: 120px;
						max-width: 120px;
					}
				}

				tr td:nth-child(2), tr th:nth-child(2),
				tr td:nth-child(3), tr th:nth-child(3){
					width: 70px;
					max-width: 70px;
				}

				tr td:nth-child(4), tr th:nth-child(4) {
					width: 80px;
					max-width: 80px;
				}

				tr:last-child td {
					border-bottom: none;
				}

				&.top-table {
					tr th:first-child {
						width: 200px;
						max-width: 200px;

						@include media-breakpoint-down(md) {
							width: 120px;
							max-width: 120px;
						}
					}
				}

				tr:hover td,
				tr.hover td {
					background: darken($grey, 3%);
				}
			}
				
			.products-block-content {
				overflow-y: hidden;
				max-height: calc(100vh - 300px);
				border-bottom: solid 1px darken($grey, 10%);
			}
		}

		.productions-block {
			border-right: solid 1px darken($grey, 10%);
    		max-height: calc(100vh - 241px);
    		overflow: hidden;

			.table {
				margin: 0px -1px;
				font-size: 14px;

				th, td {
					padding: 10px;
					border-left: solid 1px darken($grey, 10%);
					border-top: none;
					border-bottom: solid 1px darken($grey, 10%);
					vertical-align: middle;
					text-align: center;
					// transition: 0.3s;
				}

				th {
					cursor: pointer;
				}

				th {
					background: $grey;
					min-width: 51px;

					&:hover,
					&.hover {
						background: darken($grey, 3%);
					}

					&.current {
						background: lighten($primary, 55%);
					}
				}

				td {
					height: 50px;
					width: 3%;
					padding: 0px;
					background: #FFFFFF;
					text-align: center;
					vertical-align: middle;

					@include media-breakpoint-down(sm) {
						height: 65px;
					}
 
					&.hover {
						background: lighten($grey, 3%);

						.production .production-performed .form-control.visible {
							background: lighten($grey, 3%);
						}
					}

					&:hover {
						background: lighten($grey, 1%);

						.production .production-performed .form-control.visible {
							background: lighten($grey, 1%);
						}
					}

					&.current {
						background: lighten($primary, 61%);
					}

					.production {
						width: 50px;
    					height: 49px;
					    padding: 0px;
					    font-size: 14px;
					    position: relative;

					    @include media-breakpoint-down(sm) {
							height: 64px;
							padding: 19px 0px;
						}

					    &.marked {
					    	border-color: #FFFFFF;

							.production-planned {
								color: #FFFFFF;
							}

							.production-performed {
								color: #FFFFFF;

								&:before {
									border-color: #FFFFFF;
								}
							}

							.production-facility {
								border-bottom-color: #FFFFFF !important;
							}
					    }
						
						.production-planned {
							color: darken($grey, 15%);
							position: absolute;
						    top: 0;
						    left: 0;

							.form-control {
								font-size: 14px;
    							color: darken($grey, 25%);
							    border: none;
							    text-align: center;
    							width: 40px;
							    height: 40px;
							    margin-top: 5px;
    							margin-left: 5px;
							    padding: 0px;
							    background: none;
							    position: relative;
							    border: solid 1px transparent;
    							border-radius: 50% !important;
							    z-index: 2;

								&.manual {
									color: darken($grey, 75%);
								}

								&:focus {
							    	background: #FFFFFF;
							    	border-color: darken($grey, 30%);
							    }
							}
						}

						.production-performed {
							font-weight: 500;
							color: $primary;
							position: absolute;
						    top: 0;
						    left: 0;

							.form-control {
								font-weight: 500;
								font-size: 14px;
    							color: $primary;
    							width: 40px;
							    height: 40px;
							    margin-top: 5px;
    							margin-left: 5px;
							    text-align: center;
							    padding: 0px;
							    background: none;
							    position: relative;
							    z-index: 2;
							    border: solid 1px transparent;
    							border-radius: 50% !important;

							    &:focus {
							    	background: #FFFFFF !important;
							    	border-color: $primary;
							    }

							    &.visible {
							    	background: #FFFFFF;
							    	border-color: $primary;
							    }
							}
						}

						.production-facility {
							position: absolute;
							bottom: 0px;
							right: 0px;
							width: 0px;
							height: 0px;
							border-style: solid;
							border-width: 0 0 12px 12px;
							border-color: transparent;
						}
					}
				}
			}

			.productions-block-top-table {
				height: 42px;
			    overflow: hidden;
			    padding-right: 17px;
			    background: #f3f3f3;
			    border-bottom: solid 1px #dadada;

			    @include media-breakpoint-down(md) {
					padding-right: 0px;
			    }

			    & > div {
			    	overflow-x: hidden;
    				border-right: solid 1px #dadada;
			    }
			}

			.productions-block-content {
				max-height: calc(100vh - 283px);
			    overflow: scroll;
			    width: 100%;

			    &:focus {
					outline: none;
				}
			}
		}
	}

	.production-modal {

		&:focus {
			outline: none;
		}

		.edit-field {
			cursor: pointer;
			position: relative;
			transition: 0.1s;
			display: inline-block;

			&:hover {
				.units > span {
					color: $primary;
				}

				.form-control {
					color: $primary;
			    }
			}

			.units {
				position: absolute;
			    top: 0;
			    left: 0px;
			    color: transparent;
			    z-index: -1;

			    & > span {
			    	color: #000000;
			    }
			}

			.form-control {
				display: inline;
			    padding: 0px;
			    height: auto;
			    width: 70px;
			    border: none;
			    border-bottom: solid 1px transparent;
			    color: #000000;
			    background: transparent;

			    &:focus {
			    	border-bottom: solid 1px $primary;
			    }

			    @include media-breakpoint-down(md) {
					font-size: 14px;
			    }
			}
		}

		.alert {
			font-size: 14px;
			margin-top: 10px;
    		padding: 10px;
		}

		.nav-tabs {
			flex-wrap: nowrap;
		}

		.nav-item {
			@include media-breakpoint-down(sm) {
				flex: auto;

				.nav-link {
					width: 100%;
					font-size: 14px;
					padding-left: 0px;
					padding-right: 0px;
				}
			}

			.nav-link {
				background: $grey;
				color: darken($grey, 35%);

				&.active {
					background: #FFFFFF;
					color: #000000;
				}
			}
		}

		.modal-dialog {
			max-width: 600px;
		}

		.modal-title {
			font-size: 18px;
			font-weight: 500;
			color: darken($grey, 75%);
		}

		.table {
			margin-top: 5px;

			th, td {
				border: solid 1px darken($grey, 10%);
				padding: 5px 10px;
				font-size: 12px;
				position: relative;

				small {
					position: absolute;
				    bottom: 1px;
				    right: 3px;
				}
			}

			th {
				text-align: center;
			}

			.product-color {
				color: darken($grey, 35%);
			}

			.order-name {
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.order-date {
				color: darken($grey, 35%);
			}

			.form-control {
				border: none;
				box-shadow: none;
				padding: 0px;
				width: 100%;
				height: auto;
				border-bottom: solid 1px transparent;

				&:focus {
					border-bottom: solid 1px $primary;
				}

				&.form-control-num {
					text-align: center;
					font-size: 12px;
				}
			}

			.ui-select-container {
				border: none;

				.btn {
					border: none;
					padding: 3px 7px;
					font-size: 12px;

					&:focus {
						box-shadow: none;
					}
				}

				.btn-default-focus {
					box-shadow: none;
					background: #FFFFFF;
					outline: none;
				}

				.form-control {
					padding: 3px 7px;
					font-size: 12px;
				}

				.dropdown-menu {
					font-size: 12px;
					padding: 3px 0px;

					.ui-select-choices-row-inner {
						padding: 3px 7px;
						white-space: unset;
					}
				}
			}
		}

		.add-product-block {
			display: flex;
    		width: 100%;
    		padding: 10px;
    		background: $grey;

    		@include media-breakpoint-down(sm) {
				display: block;
			}

    		& > div {
    			background: #FFFFFF;
    			flex: 2;
    			margin-right: 5px;

    			@include media-breakpoint-down(sm) {
					display: block;
					margin-bottom: 7px;
					margin-right: 0px;
				}

    			&:first-child {
    				flex: 3;
    			}

    			&:last-child {
    				flex: unset;
    				margin-right: 0px;

    				@include media-breakpoint-down(sm) {
						display: inline-block;
						margin-bottom: 0px;
					}
    			}
    		}

    		.empty-select {
    			border: solid 1px darken($grey, 10%);
    			height: 100%;
    			min-height: 31px;
    			text-align: center;
    		}

    		.ui-select-container {

    			.ui-select-match {
    				border: none;
    			}

    			.ui-select-match-text {
    				white-space: nowrap;
    				text-overflow: ellipsis;
    				width: 100%;
				}
    				

				.btn {
					padding: 5px 8px;
					font-size: 14px;

					&:focus {
						box-shadow: none;
					}
				}

				.form-control {
					padding: 5px 8px;
				    font-size: 14px;
				    height: auto;
				    border: none;
				}

				.dropdown-menu {
					font-size: 14px;
					padding: 5px 0px;

					.ui-select-choices-row-inner {
						padding: 4px 7px;
					}
				}
			}
		}

		.plan-block {
			margin-top: 15px;

			.production-facility-col {
				position: relative;

				.production-facility {
					position: absolute;
					bottom: 1px;
					right: 1px;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0 0 15px 15px;
					border-color: transparent;
				}
			}
		}

		.total-block {
			margin-top: 15px;

			.block-title {
    			font-size: 18px;
    			font-weight: 500;
    			margin-bottom: 15px;
    		}

    		.table {
    			tr td:nth-child(2),
    			tr td:last-child {
    				white-space: nowrap;
    			}
    		}
		}

		.production-facility-block {
			margin-top: 10px;
    		padding-bottom: 15px;
    		border-bottom: solid 1px darken($grey, 10%);

    		&:last-child {
    			border-bottom: none;
    			padding-bottom: 0px;
    		}

    		.block-title {
    			font-size: 18px;
    			font-weight: 500;
    			position: relative;
    			padding-left: 25px;

    			& > span {
    				display: block;
				    position: absolute;
				    height: 18px;
				    width: 18px;
				    top: 4px;
				    left: 0px;
    			}
    		}
		}
	}

	.no-productions {
		text-align: center;
		font-size: 18px;
		border: solid 1px darken($grey, 10%);
		box-shadow: 1px 1px 5px darken($grey, 5%);
	    border-radius: 5px;
	   	height: 100%;
	   	min-height: 200px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    padding: 25px 10px;

		div:first-child {
			margin-bottom: 5px;
			font-size: 60px;
			color: darken($grey, 35%);
		}

		div:last-child {
			margin-top: 20px;
		}
	}
}