.products-page {
	position: relative;
	
	.categories-menu-block {
		margin-bottom: 20px;
		position: relative;

		@include media-breakpoint-down(sm) {
			height: 40px;
			z-index: 2;
			margin-bottom: 50px;
		}

		.custom-control {
			position: absolute;
		    top: 16px;
		    right: 15px;
			
			@include media-breakpoint-down(md) {
			    top: 53px;
	    		left: 0px;
	    		right: unset;
	    	}
		}

		.categories-menu {
			padding: 10px;
			background: $grey;

			@include media-breakpoint-down(sm) {
				padding-top: 0px;
				padding-bottom: 20px;
				max-height: 40px;
				overflow: hidden;
				transition: 0.3s;
				z-index: 1;
    			position: relative;

				&.shown {
					max-height: 300px;
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

					.categories-title .icon {
						transform: rotate(180deg);
					}
				}
			}

			.btn {
				background: #FFFFFF;
				border: solid 1px darken($grey, 5%);
				margin-right: 3px;

				@include media-breakpoint-down(sm) {
					display: block;
					width: 100%;
					text-align: left;
					padding: 8px 12px;
					margin-right: 0px;
				}

				&.active {
					background: $primary;
					color: #FFFFFF;
					border-color: $primary;
				}

				&:first-of-type {
					margin-right: 0px;
				}
			}

			.categories-title {
				position: relative;
				width: auto;
			    background: #276090;
			    border: none;
			    color: #FFFFFF;
			    padding: 8px 12px;
			    margin: 0 -10px 20px -10px;
				
				.icon {
					position: absolute;
					top: 3px;
				    right: 12px;
				    font-size: 22px;
				    transition: 0.3s;
				}
			}
		}
	}

	.main-table {
		@include media-breakpoint-down(md) {
			margin-bottom: 0px;
		}

		td {
			cursor: default;
			vertical-align: top;

			@include media-breakpoint-down(md) {
				border: none;
				font-size: 14px;
			}

			&:last-child {
				@include media-breakpoint-up(lg) {
					padding: 8px 0px;
				}
			}
		}

		.edit-field {
			cursor: pointer;
			position: relative;
			transition: 0.1s;
			display: inline-block;

			&:hover {
				.units > span {
					color: $primary;
				}

				.form-control {
					color: $primary;
			    }
			}

			.units {
				position: absolute;
			    top: 0;
			    left: 0px;
			    color: transparent;
			    z-index: -1;

			    & > span {
			    	color: #000000;
			    }
			}

			.form-control {
				display: inline;
			    padding: 0px;
			    height: auto;
			    width: 70px;
			    border: none;
			    border-bottom: solid 1px transparent;
			    color: #000000;
			    background: transparent;

			    &:focus {
			    	border-bottom: solid 1px $primary;
			    }

			    @include media-breakpoint-down(md) {
					font-size: 14px;
			    }
			}
		}
	}

	.product-groups-block {
		padding-top: 10px;
		border-top: solid 1px darken($grey, 10%);

		.product-group-block {
			border-bottom: solid 1px darken($grey, 10%);
			padding-bottom: 10px;
			margin-bottom: 10px;

			.product-group-title {
				display: flex;
			    align-items: center;
			    justify-content: space-between;
			    margin-bottom: 5px;
    			font-weight: 500;
			}
		}
	}

	.custom-control-inline {
		margin-bottom: 10px;
	}

	.products-list {
	    max-height: 50px;
		overflow: hidden;

		&.shown {
			max-height: 300px;
		}
	}

	.btn-link {
		padding: 0px;
		text-decoration: underline;
		border: none;
    	display: block;
	}
}

.product-orders-modal {
	.modal-body {
		min-height: 152px;
	}

	.table {
		tr {
			td, th {
				width: 25%;
				text-align: center;
				border: solid 1px darken($grey, 10%);
				padding: 5px 10px;
				font-size: 14px;
			}

			th {
				text-align: center;
				vertical-align: middle;
			}
		}
	}

	.product-name {
		margin-bottom: 15px;
		font-weight: 500;
	}

	.product-color {
		color: darken($grey, 35%);
		font-weight: 400;
	}

	.no-product-orders-block {
		text-align: center;
		font-size: 16px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

		div:first-child {
			font-size: 35px;
			color: darken($grey, 35%);
		}
	}
}