.production-page {
	position: relative;
	
	.production-block {
		display: flex;
		border-radius: 5px;
		box-shadow: 1px 1px 5px darken($grey, 5%);
		border: solid 1px darken($grey, 10%);
		overflow: hidden;

		.products-block	{
			flex: none;
	    	z-index: 1;
	    	box-shadow: 2px 0px 6px darken($grey, 6%);
	    	border-right: solid 1px darken($grey, 10%);
	    	background: $grey;

			.table {
				th {
					height: 41px;
					font-size: 12px;
				    text-align: center;
				    padding: 5px 8px;
				    vertical-align: middle;
				    border-left: solid 1px darken($grey, 10%);
				}

				tr th:first-child {
					border-left: none;
				}

				td {
					border-bottom: solid 1px darken($grey, 10%);
					padding: 5px 8px;
					height: 50px;
					white-space: nowrap;
					text-overflow: ellipsis;
					background: $grey;
					font-size: 12px;
					border-left: solid 1px darken($grey, 10%);
					text-align: center;

					.product-color {
						color: darken($grey, 35%);
					}
				}

				tr td:first-child {
					text-align: left;
					border-left: none;
				}
			}
		}

		.productions-block {
			overflow-x: scroll;
			border-right: solid 1px darken($grey, 10%);

			.table {
				margin: 0px -1px;
				width: 1500px;
				font-size: 14px;

				th, td {
					padding: 10px;
					border-left: solid 1px darken($grey, 10%);
					vertical-align: middle;
					text-align: center;
					cursor: pointer;
					// transition: 0.3s;
				}

				th {
					background: $grey;
					border-left: solid 1px darken($grey, 10%);

					&.current {
						background: lighten($green, 40%);
					}

					&:hover {
						background: lighten($grey, 3%);
					}
				}

				td {
					height: 50px;
					width: 3%;
					padding: 0px;
					background: #FFFFFF;
					text-align: center;
					vertical-align: middle;
					border-top: solid 1px darken($grey, 10%);

					&.current {
						background: lighten($green, 45%);
					}

					&.done {
						.production-planned {
							color: $green;
						}
					}

					&.failed {
						.production-planned {
							color: $red;
						}
					}

					&:hover, &.hover {
						background: lighten($grey, 3%);
					}

					.production {
						width: 50px;
    					height: 49px;
					    padding: 12px 0px;
					    border: solid 2px #FFFFFF;
					    border-radius: 2px;
					    // transition: 0.3s;
					    font-size: 14px;
					    position: relative;
					    color: #000000;

					    &.marked {
							color: #FFFFFF;

							.production-planned {
								color: #FFFFFF;
							}

							.production-performed:before {
								border-color: #FFFFFF;
							}
					    }
						
						.production-planned {
							color: darken($grey, 25%);
						}

						.production-performed {
							font-weight: 500;

							&:before {
								content: '';
								width: 40px;
					   			height: 39px;
							    border-radius: 50%;
							    top: 3px;
							    left: 3px;
							    border: solid 1px darken($grey, 15%);
							    position: absolute;
							    transition: 0.3s;
							}
						}
					}
				}
			}
		}
	}

	.production-modal {
		.modal-title {
			font-size: 18px;
			font-weight: bold;
			color: darken($grey, 75%);
		}

		.order-block {
			margin-bottom: 15px;

			.order-name {
				font-size: 20px;
    			margin-bottom: 0px;
    			color: $primary;
			}

			.table {
				margin-bottom: 0px;

				th {
					font-size: 14px;
				}

				td {
					text-align: left;
					border-color: darken($grey, 10%);
					width: 30%;

					&:first-child{
						width: 40%;
					}

					.form-control {
						width: 70px;
					    display: inline-block;
					    margin-right: 5px;
					}
				}
			}

			.product-name {
				font-size: 14px;
			}
			.product-size {
				font-size: 12px;
			}
			.product-color {
				color: darken($grey, 35%);
				font-size: 12px;
			}
		}
	}

	.production-orders {
		border: solid 1px darken($grey, 10%);
		padding: 15px 15px 5px 15px;
		border-radius: 5px;
		box-shadow: 1px 1px 5px darken($grey, 5%);

		.orders-title {
			text-align: center;
			padding-bottom: 10px;
		    margin-bottom: 10px;
		    font-weight: bold;
		    border-bottom: solid 1px darken($grey, 10%);
		}

		.order-block {
			font-size: 15px;
			padding-bottom: 5px;
			margin-bottom: 10px;
			border-bottom: solid 1px darken($grey, 10%);

			&:last-child {
				margin-bottom: 0px;
				border-bottom: none;
			}

			.order-date {
				font-size: 12px;
				color: darken($grey, 35%);
			}

			.custom-control-input:checked ~ .custom-control-label::before {
				background-color: inherit;
				border-color: inherit;
			}

			.custom-control-label::before,
			.custom-control-label::after {
			    top: 2px;
			    width: 18px;
			    height: 18px;
			}
		}

		.order-products {
			font-size: 12px;
			margin-bottom: 0px;

			td {
				padding: 3px;
				border: none;
			}

			tr td {
				&:last-child {
					padding-right: 0px;
					border-right: none;
					text-align: right;
				}
				&:first-child {
					padding-left: 0px;
				}
			}

			.product-color {
				color: darken($grey, 35%);
				font-size: 12px;
			}
		}
	}

	.no-productions {
		text-align: center;
		font-size: 18px;
		border: solid 1px darken($grey, 10%);
		box-shadow: 1px 1px 5px darken($grey, 5%);
	    border-radius: 5px;
	   	height: 100%;
	   	min-height: 200px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

		div {
			margin-bottom: 5px;
			font-size: 60px;
			color: darken($grey, 60%);
		}
	}

	.no-production-orders {
		text-align: center;
		font-size: 14px;
	   	min-height: 100px;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;

		div {
			margin-bottom: 5px;
			font-size: 40px;
			color: darken($grey, 60%);
		}
	}
}