.products-page {
	position: relative;
	
	.categories-menu-block {
		margin-bottom: 20px;
		position: relative;

		@include media-breakpoint-down(sm) {
			height: 40px;
			z-index: 2;
			margin-bottom: 50px;
		}

		.custom-control {
			position: absolute;
		    top: 16px;
		    right: 15px;
			
			@include media-breakpoint-down(md) {
			    top: 53px;
	    		left: 0px;
	    		right: unset;
	    	}
		}

		.categories-menu {
			padding: 10px;
			background: $grey;

			@include media-breakpoint-down(sm) {
				padding-top: 0px;
				padding-bottom: 20px;
				max-height: 40px;
				overflow: hidden;
				transition: 0.3s;
				z-index: 1;
    			position: relative;

				&.shown {
					max-height: 300px;
					box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

					.categories-title .icon {
						transform: rotate(180deg);
					}
				}
			}

			.btn {
				background: #FFFFFF;
				border: solid 1px darken($grey, 5%);

				@include media-breakpoint-down(sm) {
					display: block;
					width: 100%;
					text-align: left;
					padding: 8px 12px;
				}

				&.active {
					background: $primary;
					color: #FFFFFF;
					border-color: $primary;
				}
			}

			.categories-title {
				position: relative;
				width: auto;
			    background: #276090;
			    border: none;
			    color: #FFFFFF;
			    padding: 8px 12px;
			    margin: 0 -10px 20px -10px;
				
				.icon {
					position: absolute;
					top: 3px;
				    right: 12px;
				    font-size: 22px;
				    transition: 0.3s;
				}
			}
		}
	}

	.products-table {
		tr {
			td:first-child {
				width: 25%;
			}
			td:nth-child(2) {
				width: 45%;
			}
		}
	}

	.main-table {
		@include media-breakpoint-down(md) {
			margin-bottom: 0px;
		}

		td {
			cursor: default;
			vertical-align: top;

			@include media-breakpoint-down(md) {
				border: none;
				font-size: 14px;
			}

			&:last-child {
				@include media-breakpoint-up(lg) {
					padding: 8px 0px;
				}
			}
		}

		.form-control {
			display: inline;
		    padding: 0px;
		    height: auto;
		    width: 70px;
		    border: none;
		    border-bottom: solid 1px $primary;
		    color: $primary;

		    @include media-breakpoint-down(md) {
				font-size: 14px;
		    }
		}

		.edit-field {
			cursor: text;
			border-bottom: solid 1px transparent;
			transition: 0.1s;

			&:hover {
				color: $primary;
			}
		}
	}

	.product-groups-block {
		padding-top: 10px;
		border-top: solid 1px darken($grey, 10%);

		.product-group-block {
			border-bottom: solid 1px darken($grey, 10%);
			padding-bottom: 10px;
			margin-bottom: 10px;

			.product-group-title {
				display: flex;
			    align-items: center;
			    justify-content: space-between;
			    margin-bottom: 5px;
    			font-weight: 500;
			}
		}
	}
}