.workers-page {
	position: relative;

	.main-table {
		th {
			position: sticky;
		    top: 0px;
		    background: #FFFFFF;
		    z-index: 2;
		    padding: 0px;

		    & > div {
	    	    border-bottom: solid 1px darken($grey, 10%);
			    height: 100%;
			    width: 100%;
			    padding: 20px 12px 12px 12px;
		    }
		}

		td {
			border-top: none;
			border-bottom: solid 1px darken($grey, 10%);

			&:last-child {
				@include media-breakpoint-up(lg) {
					padding: 8px 0px;
				}
			}
		}
	}

	.dropdown-menu {
		margin: 0px;
    	padding: 1px 0px 3px 0px;
	}

	.worker-status {
	    color: darken($grey, 35%);

	    &.active {
	    	color: lighten($green, 10%);
	    }
	}

	.worker-modal {		
		.modal-dialog {
			max-width: 380px;
		}

		.form-group {
			margin-bottom: 0px;
		}

		.form-text {
			margin-top: 5px;
		}
    }

    .nav-tabs {
    	margin-top: 15px;

    	.nav-link {
    		padding: 5px 20px;
    		font-size: 16px;
    		background: $grey;

    		&.active {
    			background: #FFFFFF;
    		}
    	}
    }

    div[date-picker-wrapper] {
    	display: none;
    }

    .datepicker-block {
		padding: 10px 30px;
	    max-width: 350px;
	    border: solid 1px darken($grey, 10%);
		margin-top: 10px;
	    position: relative;

	    table {
	    	width: 100%;

	    	th {
	    		font-weight: 500;
	    	}

	    	th, td {

	    		span {

	    			&.now {
	    				background: $grey;
	    				color: #212529;
	    				text-shadow: none;

	    				&:hover {
			    			background: $grey;
			    			color: #212529;
			    		}
	    			}

	    			&.active.active {
	    				background: $primary;
	    				color: #FFFFFF;

	    				&:hover {
			    			background: $primary;
			    			color: #FFFFFF;
			    		}
	    			}

		    		&:hover {
		    			background: $grey;
		    		}	
	    		}
	    	}
	    }
	}

	.date-group {
		display: flex;
		align-items: center;

		.date-label {
			margin-left: 25px;
			margin-right: 10px;

			&:first-child {
				margin-left: 0px;
			}
		}
	}
}


